@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: 'Josefin Sans', sans-serif;
}

/* #F2AA4CFF - light yellow */
/* #101820FF - blueish black */

nav ul
{   
    border-top: 7px solid #F2AA4CFF;
    background-color: #101820FF;  
}

nav ul li
{
    display: inline-block;
    padding: 10px 25px;
}

#logo
{
    background-color: #F2AA4CFF;
}

#logo a
{
    color: #101820FF;
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
}

nav ul li a
{
    text-decoration: none;
    color: #F2AA4CFF;
    font-size: 30px;
    transition: 500ms;
}

nav ul li a:hover
{
    color: rgb(255, 224, 184);
}

@media only screen and (max-width: 1010px)
{
    nav ul li
    {
        display: block;
        text-align: center;
    }

    #logo
    {
        display: flex;
    }
}

/* ################ Banner ###################*/

#banner
{
    background-image: url(images/bg1.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#benner-content
{
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#benner-title
{
    color: #145a5b;
    font-size: 80px;
    letter-spacing: 2.5px;
}

.underline
{
    width: 40%;
    /* margin: auto; */
    border: 3px double #000000;
    margin: 10px auto;
}

.button-section
{
    width: 70%;
    margin: auto;
}

.button-section button
{
    padding: 10px 30px;
    margin: 20px 5px;
    font-size: 20px;
    border: 3px solid #0F7173 ;
    border-radius: 25px;
    background: transparent;
    transition: 500ms;
}

.button-section button:hover
{
    background: #0F7173;
    color: #ffffff;
}

/* ################### Skils Section ################# */

#skills
{
    display: flex;
    background-image: url(images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    color: white;
}

#skills-container 
{
    margin: auto;
    width: fit-content;    
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 80px;
}

#skills-container article {
    width: 80%;
    text-align: center;
    padding: 30px 25px;
    margin: auto;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}

#skills-container article p
{
    font-size: 20px;
}

#skills-container article i
{
    font-size: 50px;
}

#skills-container h1
{
    font-size: 30px;
}

.title-heading h1
{
    margin-top: 40px;
}



/* #433E0E - army green */
/* #5CA4A9 - cadet blue */
/* #0F7173 - skobeloff - soft dark blue */
/* #272932 - raisin black */
/* #403233 - black coffee */